 @model eligibility_checker.Models.PageViewModel

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="robots" content="no index, no follow"/>
        <title>@Model.Header - Apply for Probate</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/sass/site.css" />
        <link rel="shortcut icon" size="16x16 32x32 48x48" href="~/node_modules/nidirect-frontend/assets/images/favicon.ico" type="image/x-icon"> 
    </head>
    <body>
        <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
        <a href="#main-content" class="govuk-skip-link">Skip to main content</a>
        <partial name="../Components/_cookieConsentBanner.cshtml" />
        <partial name="../Components/_header.cshtml" />
        <div class="govuk-width-container app-width-container">
            <partial name="../Components/_alpha.cshtml" />
            <div class="govuk__container">
                <main role="main" class="govuk-main-wrapper">
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-two-thirds">
                            @RenderBody()
                        </div>
                    </div>
                </main>
            </div>
        </div>
        <partial name="../Components/_footer.cshtml" />
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <partial name="../Shared/_ValidationScriptsPartial.cshtml" />
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @RenderSection("Scripts", required: false)
        <partial name="../Shared/_initializeGOVUKFrontend.cshtml" />
        <script>
        </script>
    </body>
</html>
