@using Microsoft.AspNetCore.Http.Features

@{
   var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
   var showBanner = !consentFeature?.CanTrack ?? false;
   var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{
   <div id="cookieConsent" class="alert cookie-banner alert-dismissible fade show" role="alert">
       <div class="govuk-width-container">
        <h2 class="govuk-heading-m">Tell us whether you accept cookies</h2>
        <p class="govuk-body">We use <a class="govuk-link" href="/help/cookies">cookies to collect information</a> about how you use this website. We use this information to make the website work as well as possible and improve government services.</p>
        <button type="button" class="govuk-button" data-dismiss="alert" data-cookie-string="@cookieString">
            <span aria-hidden="true">Accept Cookies</span>
        </button>
      </div>
   </div>
   
   <script>
   (function () {
      var button = document.querySelector("#cookieConsent button[data-cookie-string]");
      button.addEventListener("click", function (event) {
         document.cookie = button.dataset.cookieString;
      }, false);
   })();
   </script>
} 

