<footer class="nidirect_footer d-print-none" role="contentinfo" data-html2canvas-ignore="true">
    <div class="govuk-width-container">
        <p class="govuk-body">
            <ul>
                <li>
                    <a class="govuk-link" href="https://www.nidirect.gov.uk/articles/nidirect-web-service-privacy-notice" target="blank" rel="nofollow">Privacy (opens in a new tab)</a>
                </li>
                <li>
                    <a class="govuk-link" href="https://www.nidirect.gov.uk/articles/cookies" target="blank" rel="nofollow">Cookies (opens in a new tab)</a>
                </li>
                <li>
                    <a class="govuk-link" href="https://probateofficeni1.statuspage.io/" target="blank" rel="nofollow">Service status (opens in a new tab)</a>
                </li>
                <li>
                    <a class="govuk-link" asp-controller="Home" asp-action="Accessibility">Accessibility statement</a>
                </li>
            </ul>
        </p>
    </div>
</footer>