@model eligibility_checker.Models.PageViewModel

@{
    ViewData["Title"] = "Accessibility";
}

<div class="govuk-width-container">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-l">
                Accessibility statement for Probate Service
            </h1>
            <p class="govuk-body">This accessibility statement applies to the Probate Service only.</p>
            <p class="govuk-body">This website is run by Enterprise Digital Development. We want as many people as possible to be able to use this website. For example, that means you should be able to:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>change colours, contrast levels and fonts</li>
                <li>zoom in up to 300% without the text spilling off the screen</li>
                <li>navigate most of the website using just a keyboard</li>
            </ul>
            <h1 class="govuk-heading-l">
                How accessible this website is
            </h1>
            <p class="govuk-body">We know some parts of this website are not fully accessible:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>you cannot modify the line height or spacing of text</li>
                <li>some tables do not have row headers</li>
                <li>some pages have poor colour contrast</li>
                <li>some heading elements are not consistent</li>
                <li>some buttons are not correctly identified</li>
            </ul>
            <h1 class="govuk-heading-l">
                How to request content in an accessible format
            </h1>
            <p class="govuk-body">If you need information in a different format <a href="mailto:eddea@finance-ni.gov.uk" class="govuk-link">contact us</a> and tell us:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>the web address (URL) of the content</li>
                <li>your name and email address</li>
                <li>the format you need, for example, audio CD, braille, <abbr title="British Sign Language">BSL</abbr> or large print, accessible <abbr title="Portable Document Format">PDF</abbr></li>
            </ul>
            <p class="govuk-body">We will consider your request and get back to you in 10 working days</p>
            <h1 class="govuk-heading-l">
                Reporting accessibility problems with this website
            </h1>
            <p class="govuk-body">We’re always looking to improve the accessibility of this website. If you find any problems not listed on this page or think we’re not meeting accessibility requirements, contact: <a href="mailto:eddea@finance-ni.gov.uk" class="govuk-link">eddea@finance-ni.gov.uk</a></p>
            <h1 class="govuk-heading-l">
                Enforcement procedure
            </h1>
            <p class="govuk-body">If you contact us with a complaint and you’re not happy with our response <a href="https://www.equalityni.org/contactus" class="govuk-link">contact the Equality Commission for Northern Ireland (ECNI).</a></p>
            <h1 class="govuk-heading-l">Technical information about this website’s accessibility</h1>
            <p class="govuk-body">
                Enterprise Digital Development is committed to making its websites accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.
            </p>
            <h1 class="govuk-heading-m">Compliance Status</h1>
            <p class="govuk-body">This website is fully compliant with the <a rel="external" href="https://www.w3.org/TR/WCAG21/" class="govuk-link">Web Content Accessibility Guidelines version 2.1</a> AA standard.</p>

            <h1 class="govuk-heading-m">
                How we tested this website
            </h1>
            <p class="govuk-body">This website was and is currently being tested for compliance with the Web Content Accessibility Guidelines V2.1 level A and level AA, and these tests have been carried out internally.</p>
            <p class="govuk-body">All pages on this website have been tested.</p>

            <h1 class="govuk-heading-m">
                What we’re doing to improve accessibility
            </h1>
            <p class="govuk-body">We plan to identify and fix any issues as quickly as possible.</p>
            <p class="govuk-body">This statement was prepared on 14 October 2020. It was last updated on 14 October 2020.</p>
            <p class="govuk-body-s">Last updated on 14 October 2020.</p>
        </div>
    </div>

</div>